<!DOCTYPE html>
<html ng-app="AndProcRLData">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link href="app.less" type="text/css" rel="stylesheet/less">
</head>
<body>

<!-- Livereload script for development only (stripped during dist build) -->
<!--<script src="http://localhost:35729/livereload.js" data-concat="false"></script>-->

<!-- JS from Bower Components -->
<script src="bower_components/less.js/dist/less.min.js" data-concat="false"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-ui-utils/ui-utils.js"></script>
<script src="bower_components/nsPopover/src/nsPopover.js"></script>
<!-- Add New Bower Component JS Above -->


<!-- Main App JS -->
<script src="app.js"></script>
<script src="partial/home/home.js"></script>
<script src="service/dataService.js"></script>
<script src="directive/character-class/character-class.js"></script>
<script src="directive/util/on-repeat-events.js"></script>
<script src="directive/util/rl-unique.js"></script>
<script src="service/charClassService.js"></script>
<script src="service/storageService.js"></script>
<script src="partial/debug-display/debug-display.js"></script>
<script src="service/attributeService.js"></script>
<script src="directive/attributes-traits/attributes-traits.js"></script>
<script src="partial/classes/classes.js"></script>
<script src="partial/attrs/attrs.js"></script>
<script src="partial/heroes/heroes.js"></script>
<script src="directive/attributes-traits/trait/trait.js"></script>
<!-- Add New Component JS Above -->

<div class="container-fluid" ng-controller="AppCtrl">
    <div class="row">
        <div class="col-md-3" ui-view="left">asdf</div>
        <div class="col-md-9">
            <ul class="nav nav-tabs nav-tabs-justified">
                <li ng-repeat="menu_item in menu" ui-sref-active="active">
                    <a ui-sref="{{menu_item.link}}"
                        >{{menu_item.name}}</a>
                </li>
                <li><a ng-click="save($event)">Save</a></li>
                <li><a ng-click="load($event)">Load</a></li>
                <li><a ng-click="flush($event)">Flush</a></li>
            </ul>
            <div ui-view="content"></div>
        </div>
    </div>
</div>

</body>
</html>
