<div class="row clearfix">
    <div class="col-md-12" ng-init="tabs.selected = 'Hero'">
        <ul class="nav nav-tabs nav-tabs-justified">
            <li ng-repeat="selectedTab in ['Classes','Attributes','Hero']"
                ng-class="{'active' : tabs.selected == selectedTab}">
                <a ng-click="tabs.selected = selectedTab">
                    {{selectedTab}}
                </a>
            </li>
        </ul>
        <div ng-switch="tabs.selected">
            <div ng-switch-when="Classes">
                <div class="character-class-container">
                    <button ng-click="flush()">flush</button>
                    <character-class
                        ng-repeat="index in childClassesIndexes"
                        index="index"/>
                </div>
            </div>
            <div ng-switch-when="Attributes">
                <attributes-traits/>
            </div>
            <div ng-switch-when="Hero">
                <div class="row clearfix">
                    <form class="col-md-5 form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="hero.level">Level</label>
                            <div class="col-md-9">
                                <input ng-model="hero.level" id="hero.level" name="hero.level"
                                       type="text" placeholder="Level"
                                       class="form-control input-md"
                                    >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="hero.class">Class</label>
                            <div class="col-md-9">
                                <select ng-model="hero.class" id="hero.class" name="hero.class"
                                        class="form-control"
                                    ng-options="className for (className, class) in classes"
                                    >
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="col-md-7">
                        <h3>Attributes</h3>
                        <div ng-repeat="trait in traits">{{trait.id}}: {{trait.value}}</div>
                    </div>
                </div>

                <div>
                    <pre>{{hero | json}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>
