<div class="row clearfix">
    <div class="col-md-12">
        <div>
            <button ng-click="flush()">flush</button>
        </div>
        <div class="character-class-container">
            <character-class
                ng-repeat="index in childClassesIndexes"
                index="index"/>
        </div>
        <div class="row clearfix">
            <button ng-click="refreshLinks()">refreshLinks</button>
            <div style="position: relative">
                <div
                    ng-repeat="attr in attributes"
                    ng-style="{
                        left: attr.gfx.x,
                        top: attr.gfx.y,
                        position: 'absolute'
                    }">
                    {{attr.id}}
                    <input ng-model="attr.value">
                </div>
                <div
                    ng-repeat="trait in traits"
                    ng-style="{
                        left: trait.gfx.x,
                        top: trait.gfx.y,
                        position: 'absolute'
                    }">
                    <span>{{trait.id}}</span>
                    <input ng-model="trait.formula">
                    <span>{{trait.value}}</span>
                </div>
                <div ng-repeat="link in links"
                     ng-style="link.style"
                    ></div>
            </div>
        </div>
    </div>
</div>
