<div class="character-class-wrapper">
    <div class="character-class" data-character-class="{{model.id}}">
    <!--<div class="element">{{model.id}}</div>-->
        <div class="controls" ng-show="model.parent">
            <button class="position"><</button>
        </div>
        <div class="element">
            <span ng-show="!editing" ng-click="edit($event)">{{model.id}}</span>
            <input
                ng-show="editing"
                ng-model="editModel.id"
                data-rl-unique="{
                    index: index,
                }"
                required
                />
        </div>
        <!--<div><pre>{{childClassesIndexes | json}}</pre></div>-->
        <div class="controls right">
            <button class="control" ng-click="add()">+</button>
            <button class="control" ng-click="remove()">-</button>
        </div>
    </div>
</div>
