<div class="character-class-wrapper">
    <div class="character-class">
    <!--<div class="element">{{model.id}}</div>-->
        <div class="controls">
            <button class="control"><</button>
        </div>
        <div class="element">
            <span ng-show="!editing" ng-click="edit($event)">{{model.id}}</span>
            <input
                ng-show="editing"
                ng-model="editModel.id"
                data-rl-unique="{
                    index: index,
                }"
                required
                />
        </div>
        <div class="controls right">
            <button class="control" ng-click="add()">+</button>
            <button class="control" ng-click="remove()">-</button>
        </div>
    </div>
    <!--<div class="character-class-children">-->
        <!--<character-class ng-repeat="class in childClasses" model="class"/>-->
    <!--</div>-->
</div>
