.character-class {
    position: absolute;
    .element {
        display: inline-block;
        padding: .5em;
        border: 1px solid black
    }
    .controls {
        display: inline-block;
        button {
            padding: 0px .3em;
            font-size: .75em;
        }
    }
}
.character-class:hover {
    .controls {
        display: inline-block;
    }
}
