.character-class-wrapper {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    .clearfix();
}
.character-class-children {
    float: left;
}
.character-class {
    display: inline-block;
    position: relative;
    float: left;
    .element {
        display: inline-block;
        padding: .5em;
        border: 1px solid black;
        .ng-invalid {
            border-color: red;
        }
    }
    .controls {
        display: inline-block;
        .control {
//            width: 1.5em;
//            height: 1.5em;
            padding: 0px .3em;
            float:left;
            text-align: center;
        }
    }
    .controls.right {
//        position: absolute;
//        left: 100%;
//        top: 0;
    }
}
.character-class:hover {
    .controls {
        display: inline-block;
    }
}
