<div class="modal-header">
    <h3 class="modal-title">Editing class {{model.id}}</h3>
</div>
<div class="modal-body">
    <form class="character-class-form form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label" for="model.id">ID</label>
            <div class="col-md-8">
                <input ng-model="model.id" id="model.id" name="model.id"
                       type="text" placeholder="ID"
                       class="form-control input-md"
                    >
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="model.parent">Parent</label>
            <div class="col-md-8">
                <div class="row form-inline">
                    <select ng-model='model.parent' id="model.parent" name="model.parent"
                            ng-options="class as class for class in (parentClasses) track by class"
                            class="form-control input-md"></select>
                    <button class='select-parent' draggable="true"><i class="fa fa-bullseye"></i></button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Attributes:</label>
            <div class="col-md-8">
                <div class="attr" ng-repeat="attr in model.attributes">
                    <label class="control-label" for="{{attr.id}}">{{attr.id}}({{getParentAttr(attr.id)}}): </label>
                    <input
                        ng-model="attr.value" id="{{attr.id}}" name="{{attr.id}}"
                           type="text" placeholder="{{attr.id}}"
                            maxlength="3"
                           class="form-control input-sm"
                        />
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
